In [127]:
import pandas as pd
df = pd.read_excel('../z20_data/2023인구.xlsx',skiprows=3,usecols='B,E:Y',index_col='행정기관')
df.head(3)

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"726,460","1,072,653","1,211,077","1,211,949","1,524,378","1,823,908","1,737,714","1,684,266","2,055,130","2,039,606",...,"2,052,227","2,097,254","1,554,976","1,038,388","713,448","507,915","212,726","54,180","8,880","1,307"
서울특별시,"116,614","161,429","185,689","197,425","271,237","390,716","379,852","332,153","363,795","352,011",...,"338,380","343,434","271,757","188,172","136,287","93,848","36,511","9,411","1,703",276
부산광역시,"41,333","63,912","68,919","67,836","93,245","109,745","103,536","99,530","127,544","121,660",...,"126,702","143,246","119,500","83,807","55,948","36,851","13,453","3,103",420,72

In [128]:
#전국, 서울 row 합계
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 전국   to 제주특별자치도
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0~4세     18 non-null     object
 1   5~9세     18 non-null     object
 2   10~14세   18 non-null     object
 3   15~19세   18 non-null     object
 4   20~24세   18 non-null     object
 5   25~29세   18 non-null     object
 6   30~34세   18 non-null     object
 7   35~39세   18 non-null     object
 8   40~44세   18 non-null     object
 9   45~49세   18 non-null     object
 10  50~54세   18 non-null     object
 11  55~59세   18 non-null     object
 12  60~64세   18 non-null     object
 13  65~69세   18 non-null     object
 14  70~74세   18 non-null     object
 15  75~79세   18 non-null     object
 16  80~84세   18 non-null     object
 17  85~89세   18 non-null     object
 18  90~94세   18 non-null     object
 19  95~99세   18 non-null     object
 20  100세 이상  18 non-null     object
dtypes: object(21)
memory usage: 3.1+ KB

In [129]:
df.iloc[0] = df.iloc[0].str.replace(",","").astype(int)

In [130]:
df.iloc[0].sum()

25631538

In [131]:
df.iloc[1] = df.iloc[1].str.replace(",","").astype(int)

In [132]:
df.iloc[1].sum()

4567739

In [133]:
for i in range(len(df)):
     df.iloc[i] = df.iloc[i].str.replace(",","").astype(int)

AttributeError: Can only use .str accessor with string values!

In [ ]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 전국   to 제주특별자치도
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0~4세     18 non-null     object
 1   5~9세     18 non-null     object
 2   10~14세   18 non-null     object
 3   15~19세   18 non-null     object
 4   20~24세   18 non-null     object
 5   25~29세   18 non-null     object
 6   30~34세   18 non-null     object
 7   35~39세   18 non-null     object
 8   40~44세   18 non-null     object
 9   45~49세   18 non-null     object
 10  50~54세   18 non-null     object
 11  55~59세   18 non-null     object
 12  60~64세   18 non-null     object
 13  65~69세   18 non-null     object
 14  70~74세   18 non-null     object
 15  75~79세   18 non-null     object
 16  80~84세   18 non-null     object
 17  85~89세   18 non-null     object
 18  90~94세   18 non-null     object
 19  95~99세   18 non-null     object
 20  100세 이상  18 non-null     object
dtypes: object(21)
memory usage: 3.1+ KB

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
count,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18
unique,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18
top,726460,1072653,1211077,1211949,1524378,1823908,1737714,1684266,2055130,2039606,...,2052227,2097254,1554976,1038388,713448,507915,212726,54180,8880,1307
freq,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [ ]:
df.index.values

array(['전국  ', '서울특별시  ', '부산광역시  ', '대구광역시  ', '인천광역시  ', '광주광역시  ',
       '대전광역시  ', '울산광역시  ', '세종특별자치시  ', '경기도  ', '강원도  ', '충청북도  ',
       '충청남도  ', '전라북도  ', '전라남도  ', '경상북도  ', '경상남도  ', '제주특별자치도  '],
      dtype=object)

In [ ]:
df.loc['전국  '].sum()

51263076

In [ ]:
df[df.columns[-5:]]

           85~89세  90~94세 95~99세 100세 이상        총합
행정기관
전국         212726   54180   8880    1307  25631538
서울특별시       36511    9411   1703     276   4567739
부산광역시      13,453   3,103    420      72         0
대구광역시       9,435   2,197    299      25         0
인천광역시       9,444   2,410    482      82         0
광주광역시       4,907   1,221    180      18         0
대전광역시       5,151   1,344    205      28         0
울산광역시       2,406     566     72       4         0
세종특별자치시       913     230     40       6         0
경기도        45,597  11,973  2,020     379         0
강원도         8,649   2,159    472      67         0
충청북도        8,095   1,908    328      50         0
충청남도       13,262   3,553    568      58         0
전라북도       11,227   2,972    464      62         0
전라남도       11,601   3,186    485      60         0
경상북도       15,550   3,924    597      56         0
경상남도       13,579   3,300    475      53         0
제주특별자치도     2,946     723     70      11         0

In [136]:
df['총합'] = 0

In [ ]:
df.shape

(18, 22)

In [137]:
# df.iloc[1,21] = df.iloc[0].sum()
df.iloc[0,21]

0

In [144]:
df.iloc[1,21] = df.iloc[1].sum()

In [147]:
df[df.columns[-1]]

행정기관
전국           76894614
서울특별시        22838695
부산광역시               0
대구광역시               0
인천광역시               0
광주광역시               0
대전광역시               0
울산광역시               0
세종특별자치시             0
경기도                 0
강원도                 0
충청북도                0
충청남도                0
전라북도                0
전라남도                0
경상북도                0
경상남도                0
제주특별자치도             0
Name: 총합, dtype: int64

In [146]:
for i in range(len(df)):
     df.iloc[i,21] = df.iloc[i].sum()

TypeError: can only concatenate str (not "numpy.int64") to str

In [143]:
df.iloc[-1]

0~4세       10,989
5~9세       16,953
10~14세     18,838
15~19세     17,925
20~24세     19,947
25~29세     21,166
30~34세     19,331
35~39세     20,608
40~44세     27,661
45~49세     28,797
50~54세     32,510
55~59세     28,485
60~64세     25,858
65~69세     18,587
70~74세     12,291
75~79세      9,298
80~84세      6,331
85~89세      2,946
90~94세        723
95~99세         70
100세 이상        11
총합              0
Name: 제주특별자치도  , dtype: object