In [35]:
import pandas as pd
df = pd.read_excel('2023인구.xlsx',skiprows=3,index_col='행정기관',usecols='B,E:Y')
df.head(2)
df[0:3]
df.tail()
df[df.columns[-1]]

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

행정기관
전국           1,307
서울특별시          276
부산광역시           72
대구광역시           25
인천광역시           82
광주광역시           18
대전광역시           28
울산광역시            4
세종특별자치시          6
경기도            379
강원도             67
충청북도            50
충청남도            58
전라북도            62
전라남도            60
경상북도            56
경상남도            53
제주특별자치도         11
Name: 100세 이상, dtype: object

In [50]:
#  index_col = 0 첫번째 컬럼을 index로 지정
# skiprows = 상단부분 제외
#  nrows : rows 데이터 가져오기
# usecols : 특정컬럼부분 가져오기
df = pd.read_excel('20122024.xlsx',nrows=3,skiprows=2,usecols='B:M')
df.index.name = '제목'
df.index

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

RangeIndex(start=0, stop=3, step=1, name='제목')

In [51]:
df.index.values
df

,Unnamed: 1,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
제목,,,,,,,,,,,,
0,출생아수(명),"484,550","436,455","435,435","438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186"
1,조출생률(인구1천명당 명),9.6,8.6,8.6,8.6,7.9,7.0,6.4,5.9,5.3,5.1,4.9
2,합계출산율(가임여성1명당 명),1.297,1.187,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808,0.778

In [52]:
df.rename(index={'조출생률(인구1천명당 명)':'조출생률(인구1천명당 명)'},inplace=True)

In [53]:
df.rename(index={'합계출산율(가임여성1명당 명)':'합계출산율(가임여성1명당 명)'},inplace=True)
df

,Unnamed: 1,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
제목,,,,,,,,,,,,
0,출생아수(명),"484,550","436,455","435,435","438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186"
1,조출생률(인구1천명당 명),9.6,8.6,8.6,8.6,7.9,7.0,6.4,5.9,5.3,5.1,4.9
2,합계출산율(가임여성1명당 명),1.297,1.187,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808,0.778

In [54]:
# 컬럼 출력
df['2012']
# row 출력
df.loc['출생아수(명)']

KeyError: '출생아수(명)'

In [56]:
df = df.T # rows,columns축 변경
df
# df['2012']

제목
0    484,550
1        9.6
2      1.297
Name: 2012, dtype: object